footer {
  @include main-width(1440px, 100%);

  .footer_container {
    @include main-width(1440px, 90% - 2%);
    //height: 110px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    color: #919191;
    padding: 20px;

    span, p {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 450px) {
    span {
      display: none;
    }
  }
}
