@mixin main-width($maxWidth, $width) {
  max-width: $maxWidth;
  margin: 0 auto;
  width: $width;
}

@mixin clearfix(){
    &:after, &:before {
        content : "";
        display : table;
        clear: both;
      }
}

.main-width {
  @include main-width(1440px, 100%);
  height: 100vh;
}
