header {
  @include main-width(1440px, 100%);
  height: 35px;
  padding-top: 10px;
  background-color: black;
  color: white;

  @media screen and (max-width: 740px) {
    height: 40px;
  }
}

.header__navigation {
  @include main-width(1440px, 90% - 5%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: center;
  letter-spacing: 1px;
  font-size: .9rem;
  min-height: 200px;

  @media screen and (max-width: 740px) {
    justify-content: flex-start;

    .logo {
      margin-left: 50px;
    }
  }

  a {
    text-decoration: none;
    color: white;
      span {
        span {
          color: $fontSpecialColor;
        }
      }
  }

  .navigation_list {
    display: flex;
    list-style: none;

    @media screen and (max-width: 740px) {
      display: none;
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: $fontSpecialColor;
        cursor: pointer;
      }
    }

    li {
      margin-left: 100px;
      position: relative;

      ul {
        display: none;
        position: absolute;
        flex-direction: column;
        list-style: none;
        left: -110px;
        top: 35px;
        font-size: .8rem;
        border-radius: 5px;

        li {
          background-color: black;
          position: relative;
          z-index: 100;
          width: 100px;
          height: 35px;
          padding: 10px 0 10px 10px;
          letter-spacing: 0;

          &:first-child {
            border-radius: 5px 5px 0 0;

            &:after {
              content: "";
              position: absolute;
              width: 0;
            	height: 0;
            	border-left: 6px solid transparent;
            	border-right: 6px solid transparent;
            	border-bottom: 10px solid black;
              top: -10px;
              left: 35px;
            }

            &:before {
              content: "";
              position: absolute;
              width: 98px;
            	height: 20px;
              top:-10px;
              left: 0;
            }
          }

          &:last-child {
            border-radius: 0 0 5px 5px;
          }

        }

      }
    }
  }

  .hamburger {
    display: none;
    outline: none;
    width: 30px;
    height: 25px;
    border: 0;
    border-top: 3px solid #ffffff;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;


    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 3px solid #ffffff;
      transform: translateY(6px);
    }

    &:after {
      transform: translateY(15px);
      transition: 0.3s transform linear;
    }

    @media screen and (max-width: 740px) {
      display: block;
    }
  }
}
